.DS_Store
.idea
*.log
*.err
tmp/
.tmp/
.ipynb_checkpoints/

*.py[cod]
*.egg
*.egg-info/
*.manifest
*.spec
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
wheels/

coverage.xml
htmlcov
.coverage
.coverage.*
.pytest_cache
.cache
.tox
.nox
.flake8

.direnv
.envrc
.env
.envr
env/
.venv
venv/

*.png
*.tif
*.jpg
*.txt
*.pt
*.zip
!requirements.txt
!tests/assets/*.png
!tests/assets/*.tif
.projectile-cache.eld
